@import 'styles/variables.scss';

.month_picker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 8px;
  margin-top: 10px;

  > .month_picker_item {
    display: flex;
    justify-content: center;
    background: $bg-color-button;
    align-items: center;
    border-radius: $radius-card;
    border: 1px solid $border-line-gray;
    width: 100%;
    max-width: 170px;
    padding: 8px;
    font-size: $font-small;

    transition: border $animation-speed, background $animation-speed;
    &.active {
      background: $color-primary;
      color: $txt-color-button-hvr;
    }
    &:hover {
      border: 1px solid $color-primary;
    }
  }
}
