@import 'styles/variables.scss';

.dateTabs {
  display: flex;
  flex-direction: column;
}

.bar_active {
  bottom: 0;
  position: absolute;
  display: flex;

  height: 2px;
  background: $color-primary;

  transition: left $animation-speed;
}

.date_section {
  position: relative;
  border-bottom: 1px solid $border-line-gray;
  padding-bottom: 20px;

  > div:first-child {
    display: flex;
    flex-direction: column;
    transition: height $animation-speed, max-height $animation-speed;
    padding: 0 20px 15px 20px;

    max-height: 128px;
    overflow: hidden;
  }

  .button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid $border-line-gray;
    border-radius: 50%;

    background: #fff;

    transition: background $animation-speed;

    .icon_dateTabs {
      width: 10px;

      path {
        fill: $color-gray;
      }
    }

    &:hover {
      background: $color-primary;

      .icon_dateTabs {
        width: 10px;

        path {
          fill: #fff;
        }
      }
    }
  }
}

.date_tabs_section {
  display: flex;
  width: 100%;

  padding-left: 15px;
}
.date_tabs {
  position: relative;
  display: flex;
  flex-direction: row;

  list-style: none;
  box-shadow: inset 0 -1px $border-line-gray;
  padding: 0;
  width: 100%;

  li {
    display: flex;
    flex: 1;
    justify-content: center;

    cursor: pointer;
    padding: 4px 0;
    color: $color-gray;

    + li {
      margin-left: 2px;
    }

    &:hover {
      color: $color-primary;
    }

    &:global(.active) {
      color: #000;
    }
  }
}

.show_style {
  display: flex;
  padding: 0 0 0 14px;

  .icon_dateTabs {
    cursor: pointer;
    width: 42px;
    padding: 0 12px;

    path {
      fill: $color-gray;
    }

    &.active path {
      fill: $color-primary;
    }
  }
}

.day_section {
  width: 100%;
}
.date_list_section {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  .day_list {
    display: grid;
    font-size: $font-small-s;
    grid-template-columns: repeat(7, 1fr);

    > div {
      display: flex;
      justify-content: center;
      justify-self: center;

      width: 25px;
      height: 25px;
    }
  }

  .day_num_list {
    display: grid;
    font-size: $font-small;
    grid-template-columns: repeat(7, 1fr);

    .not_in_month {
      color: $color-gray !important;
    }
    &.week_list > div {
      background: $color-primary-opc;
      &:first-child {
        border-top-left-radius: 34px;
        border-bottom-left-radius: 34px;
      }
      &:last-child {
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
      }
    }

    > div {
      $animation-speed: 300ms;
      display: flex;
      justify-content: center;
      transition: background $animation-speed, border-top-left-radius $animation-speed, border-bottom-left-radius $animation-speed,
        border-top-right-radius $animation-speed, border-bottom-right-radius $animation-speed;

      > div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 4px;
        border-radius: 50%;

        width: 25px;
        height: 25px;

        transition: background $animation-speed, color $animation-speed;
      }
      &.now_day > div {
        border: 1px solid $color-primary-opc;
      }
    }

    &:not(.week_list) {
      > div {
        &.day_active > div {
          color: #fff;
          background: $color-primary !important;
        }
        &:hover > div {
          background: $color-primary-opc;
        }
      }
    }
  }

  .date_today {
    display: flex;
    font-size: $font-small-s;

    button {
      display: inline-flex;
      justify-content: center;
      align-self: flex-end;
      align-items: center;

      color: $color-primary;
      border: 1px solid transparent;
      background: none;
      border-radius: 34px;

      transition: border $animation-speed;

      &:hover {
        border: 1px solid $color-primary;
      }
    }

    .icon_dateTabs {
      width: 6px;
      margin-right: 4px;

      path {
        fill: $color-primary;
      }
    }
  }
}

.picker_container {
  max-width: 768px;
  width: 100%;
  align-self: center;
}

.date_list_arrow {
  display: flex;
  align-items: flex-end;
  background: $bg-color-button;
  border: none;

  padding-bottom: 8px;
  padding: 0 12px 6px 12px;

  .icon_dateTabs {
    width: 8px;

    path {
      fill: $color-gray;
    }
  }
  &:hover .icon_dateTabs path {
    fill: $color-primary;
  }
}

.footer {
  font-size: $font-small;

  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  padding: 10px 20px;

  > div {
    width: 100%;
    display: flex;
  }

  .icon_dateTabs {
    width: 12px;

    path {
      fill: $color-primary;
    }
  }
}
