@import 'styles/variables.scss';

.comments_styled {
  padding: 0 20px;
}
.head_comment {
  display: flex;
  margin-bottom: 8px;

  .profile_img {
    color: $color-gray;
    border-radius: 34px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
  }
  .title_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;

    > div:first-child {
      font-size: $font-small;
    }
    > div:last-child {
      font-size: $font-small-s;
      color: $color-gray;
    }
  }
}
.body_comment {
  padding: 10px 0;
  font-size: $font-medium;
}
.foot_comment {
  display: flex;
  font-size: $font-small;
  flex: 1;

  .time_ago {
    color: $color-gray;
    margin-right: 4px;
  }

  .action_comment > button,
  .icon_commentList,
  .likes {
    color: $color-primary;
  }
  .action_comment {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    > button {
      padding: 4px;
      margin-left: 4px;
      background: transparent;
      border: none;
      border-radius: $radius-card;

      &:hover {
        background: $color-primary-opc;
      }
    }
  }

  .icon_commentList {
    width: 12px;
  }
}

.comment_item {
  padding: 10px 0;

  + .comment_item {
    border-top: 1px solid $border-line-gray;
  }
  &:last-child {
    border-bottom: 1px solid $border-line-gray;
  }
}
