// color
$color-primary: #0070f3;
$color-primary-opc: #2a8dff4a;
$color-gray: #aaaaaa;

$f-color-nav: #fff;
$border-line-gray: #eaeaea;

$bg-color-button: #fff;
$txt-color-button-hvr: #fff;

// font size
$font-medium: 1rem;
$font-small: 0.8rem;
$font-small-s: 0.6rem;

// radius
$radius-card: 6px;

//
$animation-speed: 300ms;
